.jumbotron {
  height: 100px;
   background-image: url("./images/OfficeSpace.jpeg");
     background-size: cover; 
     height: 700px;
     
  }
 body{
  background: hsla(191, 60%, 89%, 1);

  background: linear-gradient(90deg, hsla(191, 60%, 89%, 1) 0%, hsla(56, 59%, 86%, 1) 100%);
  
  background: -moz-linear-gradient(90deg, hsla(191, 60%, 89%, 1) 0%, hsla(56, 59%, 86%, 1) 100%);
  
  background: -webkit-linear-gradient(90deg, hsla(191, 60%, 89%, 1) 0%, hsla(56, 59%, 86%, 1) 100%);
  
 }
